<footer class="bg-gray-900 w-full border-t border-gray-700 shadow-inner">
  <div class="max-w-screen-xl mx-auto p-6 flex flex-col md:flex-row justify-between items-center text-white">

    <!-- Logo / Nombre -->
    <span class="text-green-500 font-bold text-lg mb-4 md:mb-0">HackerSite © 2025</span>

    <!-- Menú rápido -->
    <!-- Menú rápido -->
    <!-- Menú principal -->
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-700 rounded-lg bg-gray-900 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent">

        <li>
          <a routerLink="/home"
            class="nav-grow block py-2 px-3 text-white rounded hover:text-green-500 transition duration-300">
            Home
          </a>
        </li>

        <li>
          <a routerLink="/cifradoSimetrico"
            class="nav-grow block py-2 px-3 text-white rounded hover:text-green-500 transition duration-300">
            Cifrado simetrico
          </a>
        </li>

        <li>
          <a routerLink="/cifradoAsimetrico"
            class="nav-grow block py-2 px-3 text-white rounded hover:text-green-500 transition duration-300">
            Cifrado asimétrico
          </a>
        </li>

      </ul>
    </div>


    <!-- Redes sociales -->
    <div class="flex space-x-4">
      <a href="https://facebook.com" target="_blank" class="text-white hover:text-green-500 transition duration-300">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="text-white hover:text-green-500 transition duration-300">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="text-white hover:text-green-500 transition duration-300">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="mailto:contact@hackersite.com" class="text-white hover:text-green-500 transition duration-300">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

  </div>
</footer>