/* Fondo Matrix */
#matrix-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black;
  pointer-events: none;
}

/* Botones */
button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Contenedor principal */
.full-screen-container {
  min-height: calc(100vh - 128px);
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

/* Fondo de la página */
body, html {
  height: 100%;
  margin: 0;
}
.contenido {
    position: relative;
    z-index: 10;
}
